<form [formGroup]="form">
    <label>Titre</label>
    <div class="form-group">
      <input required formControlName="title" class="form-control" type="text">
    </div>
    <label>Description</label>
    <div class="form-group">
      <textarea required formControlName="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input required formControlName="description" class="form-control">
    </div>
    <div formGroupName="address">
      <input type="text" formControlName="line1" class="form-control">
      <input type="text" formControlName="line2" class="form-control">
      <input type="text" formControlName="postalCode" class="form-control">
      <input type="text" formControlName="city" class="form-control">
    </div>
    <input class="form-control" [disabled]="form.invalid" type="submit" value="Se connecter">
  </form>
