<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ cardPicture }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ gym.title }}</h5>
    <p class="card-text">{{ gym.description }}</p>
    <a routerLink="{{ gym.id }}" class="btn btn-primary">Voir plus</a>
  </div>
</div>
