<nav class="nav">
  <li class="nav-item">
    <h1>NomadMuscle</h1>
  <li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gyms">Salles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Mes réservations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gyms/mine">Mes salles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile">Mon compte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="signout()">Déconnexion</a>
  </li>
</nav>
