<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>Email</label>
    <input required ngModel class="form-control" type="text" name="email">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input required ngModel class="form-control" type="password" name="password">
  </div>
  <div class="form-group">
    <label>Prénom</label>
    <input required ngModel class="form-control" type="text" name="firstname">
  </div>
  <div class="form-group">
    <label>Nom</label>
    <input required ngModel class="form-control" type="text" name="lastname">
  </div>
  <div class="form-group">
    <label>Date de naissance</label>
    <input required ngModel class="form-control" type="date" name="birthdate">
  </div>
  <div class="form-group">
    <label>Adresse ligne 1</label>
    <input required ngModel class="form-control" type="text" name="line1">
  </div>
  <div class="form-group">
    <label>Adresse ligne 2</label>
    <input required ngModel class="form-control" type="text" name="line2">
  </div>
  <div class="form-group">
    <label>Ville</label>
    <input required ngModel class="form-control" type="text" name="city">
  </div>
  <div class="form-group">
    <label>Code postal</label>
    <input required ngModel class="form-control" type="text" name="postalCode">
  </div>
  <input [disabled]="form.form.invalid" type="submit" value="S'inscrire">
</form>

<a routerLink="/login">Connexion</a>
