<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>Email</label>
    <input required ngModel class="form-control" type="text" name="email">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input required ngModel class="form-control" type="password" name="password">
  </div>
  <input [disabled]="form.form.invalid" type="submit" value="Se connecter">
</form>
<a routerLink="/register">Inscription</a>
